@using Microsoft.Extensions.Configuration
@using ModuloSeguridad.Frontend.Extensions
@inject IConfiguration IConfiguration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - @Html.Raw(IConfiguration["Properties:Application"])</title>
    <link href="~/user_security.ico" rel="icon" type="image/x-icon" />
    
    <!--MDB-->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/mdb.min.css" rel="stylesheet" />
        
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!--Navbar -->
    @if (HttpContextAccessor.HttpContext.User?.Identity?.IsAuthenticated == true)
    {
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" href="#">@Html.Raw(IConfiguration["Properties:Application"])</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @Html.Active("Home")">
                        <a class="nav-link" href="@Url.Action(nameof(ModuloSeguridad.Frontend.Controllers.HomeController.Index), "Home")">
                            Inicio
                        </a>
                    </li>
                    @foreach (var item in Newtonsoft.Json.JsonConvert.DeserializeObject
                    <List<UsuarioViewModel.AccionModulo>>(User.FindFirst(System.Security.Claims.ClaimTypes.UserData)?.Value).Select(m => m.Modulo).Distinct())
                    {
                        @Html.Raw("<li class='nav-item " + Html.Active(item) + "'><a class='nav-link' href='" + Url.Action("Index", item) + "'>" + item + "</a></li>");
                    }
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons float-none">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item @Html.Active("Usuarios")" href="@Url.Action(nameof(ModuloSeguridad.Frontend.Controllers.UsuariosController.Perfil), "Usuarios")">Perfil</a>
                            <a class="dropdown-item" id="cerrarSesion">Cerrar sesión</a>
                            @using (Html.BeginForm(nameof(ModuloSeguridad.Frontend.Controllers.AccountController.Logout), "Account", FormMethod.Post, htmlAttributes: new { @class = "d-none", @id = "cerrarSesionForm" }))
                            {
                                <button type="submit" class="btn-link p-0">Cerrar Sesión</button>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    }
    <!--/.Navbar -->

    <main role="main" class="pb-3 container">
        @RenderBody()
    </main>
    
    <div role="alert" aria-live="assertive" aria-atomic="true" class="d-none toast text-white position-absolute @TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.ColorMessage)]" data-delay="100000" data-autohide="true" style="bottom:1rem; right:1rem; z-index:999999">
        <div class="toast-body position-relative">
            <div class="mr-3">
                <i class="@TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.SymbolMessage)] mr-2"></i>
                @TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.InfoMessage)]
            </div>            
            <button type="button" class="close position-absolute text-white" data-dismiss="toast" aria-label="Close" style="top:.25rem; right:.25rem; opacity:1">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @Html.Raw(IConfiguration["Properties:Application"])
        </div>
    </footer>   

    <!--MDB-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>

    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
        $(function () {
            @if (TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.InfoMessage)] != null)
            {
                @:$(".toast").removeClass('d-none');
                @:$('.toast').toast('show');
            }
            @if (HttpContextAccessor.HttpContext.User?.Identity?.IsAuthenticated == true)
            {
                @:$("#cerrarSesion").on("click", function () {
                    @:$("#cerrarSesionForm").submit()[0];
                @:})
            }
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>