@using Microsoft.Extensions.Configuration
@inject IConfiguration IConfiguration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - @Html.Raw(IConfiguration["Properties:Application"])</title>
    <link href="~/user_security.ico" rel="icon" type="image/x-icon" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/mdb.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@IConfiguration["Properties:Application"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (HttpContextAccessor.HttpContext.User?.Identity?.IsAuthenticated == true)
                        {
                            foreach (var item in Newtonsoft.Json.JsonConvert.DeserializeObject<List<ModuloSeguridad.Entities.Model.AccionModulo>>(User.FindFirst(System.Security.Claims.ClaimTypes.UserData)?.Value).Select(m => m.Modulo).Distinct())
                            {
                                @Html.Raw("<li class='nav-item'><a class='nav-link text-dark' href='" + Url.Action("Index", item.Nombre) + "'>" + item.Nombre + "</a></li>");
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 container">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @Html.Raw(IConfiguration["Properties:Application"])
        </div>
    </footer>

    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast @TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.ColorMessage)] text-white" data-delay="10000" style="position: fixed; z-index:999999; top:1rem; right:1rem">
        <div class="toast-body">
            <i class="@TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.SymbolMessage)] mr-2"></i>
            @TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.InfoMessage)]
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData[nameof(ModuloSeguridad.Frontend.Controllers.BaseController.InfoMessage)] != null)
    {
        <script>
            $(function () {
                $('.toast').toast('show');
            });
        </script>
    }
</body>
</html>